body {
    background-color: rgb(124, 198, 203);
}

#par_title {    
    color: rgb(22, 22, 135);
    font-size: 40px;
}

#par_init {    
    color: rgb(11, 114, 30);
    font-size: 25px;
}

#par_test1 {
    color: rgb(230, 11, 11);
    font-size: 10px;
}

#par_test2 {
    color: rgb(111, 34, 85);
    font-size: 20px;
}
